
<!DOCTYPE html>
<html lang='{{ page.lang | default: site.lang | default: "en" }}'>

<!-- Look in _includes/theme for <head> and <body> definitions -->
{% if site.remote_theme contains 'minima' %}
  {%- include theme/minima/base.html -%}
{% elsif site.remote_theme contains 'midnight' %}
  {%- include theme/midnight/base.html -%}
{% elsif site.remote_theme contains 'dinky' %}
  {%- include theme/dinky/base.html -%}
{% elsif site.remote_theme contains 'time-machine' %}
  {%- include theme/time-machine/base.html -%}
{% elsif site.remote_theme contains 'cayman' %}
  {%- include theme/cayman/base.html -%}
{% endif %}
</html>

<!-- Footer -->
  <footer class="mt-20 text-sm text-gray-500 text-center py-6 border-t border-gray-200 dark:border-gray-700">
    © 2025 QCOMM Auto. Built by <span class="text-primary font-medium">Manas & Team</span> 🚀
  </footer>

  <!-- Dark Mode Toggle -->
  <script>
    window.onload = function() {
      if (localStorage.getItem('theme') === 'dark') {
        document.documentElement.classList.add('dark');
      } 
      
      else {
        document.documentElement.classList.remove('dark');
      }
    }


    const toggle = document.getElementById('theme-toggle');
    toggle.addEventListener('click', () => {
      document.documentElement.classList.toggle('dark');

      if (document.documentElement.classList.contains('dark')) {
        localStorage.setItem('theme', 'dark');
      } 
      
      else {
        localStorage.setItem('theme', 'light');
      }
    });
  </script>
</body>
</html>
